
adapter_index = 0
aspect_ratio = -1
borderless_fullscreen = false
detected_user_settings = {
	adapter_index = 0
	fullscreen = true
	fullscreen_output = 0
	language_id = "en"
	last_fullscreen_resolution = [
		1920
		1080
	]
	master_render_settings = {
		anti_aliasing_solution = 0
		dlss = 0
		dlss_g = 0
		dlss_master = "off"
		ffx_frame_gen = 0
		fsr = 0
		fsr2 = 3
		gamma = 0
		graphics_quality = "medium"
		nv_reflex_framerate_cap = 0
		nv_reflex_low_latency = 1
		rt_reflections_quality = "off"
		rtxgi_quality = "off"
		xess = 0
	}
	max_worker_threads = 5
	screen_mode = "fullscreen"
	screen_resolution = [
		1920
		1080
	]
	vsync = false
}
direct_storage = {
	debug_map = true
}
fullscreen = true
fullscreen_output = 0
gamma = 1
gore_settings = {
	attack_ragdolls_enabled = false
	blood_decals_enabled = false
	gibbing_enabled = false
	minion_wounds_enabled = false
}
gpu_id = "NVIDIA GeForce GTX 1080"
interface_settings = {
	intro_cinematic_enabled = false
	psyker_overload_intensity = 20
}
language_id = "en"
last_fullscreen_resolution = [
	1920
	1080
]
launcher_overrides = {
	gpu_crash_dumps = false
}
launcher_verification_passed = false
master_render_settings = {
	ambient_occlusion_quality = "low"
	anti_aliasing_solution = 2
	dlss = 0
	dlss_g = 0
	dlss_master = "off"
	dof_quality = "off"
	ffx_frame_gen = 0
	fsr = 0
	fsr2 = 0
	gi_quality = "low"
	graphics_quality = "custom"
	lens_flare_quality = "off"
	light_quality = "low"
	nv_reflex_framerate_cap = 5
	nv_reflex_low_latency = 2
	rtxgi_quality = "off"
	ssr_quality = "off"
	texture_quality = "low"
	volumetric_fog_quality = "low"
	xess = 0
}
max_worker_threads = 5
mesh_streamer_settings = {
}
mod_manager_settings = {
	developer_mode = false
	log_level = 1
}

network_settings = {
	try_nat64 = false
}
performance_settings = {
	decal_lifetime = 10
	max_blood_decals = 5
	max_footstep_decals = 30
	max_impact_decals = 5
	max_ragdolls = 3
}
render_settings = {
	ao_enabled = true
	async_xe_gtao = false
	baked_ddgi = true
	bloom_enabled = false
	cacao_enabled = false
	cacao_quality = 4
	cpp_modifiers_enabled = false
	decals_enabled = true
	display_noise_enabled = true
	dlss_enabled = false
	dlss_g_enabled = false
	dlss_g_frames_to_generate = 1
	dlss_model = "default"
	dof_enabled = false
	dof_high_quality = false
	dxr = false
	ffx_frame_gen_enabled = false
	ffx_swapchain = false
	fsr2_enabled = false
	fsr_enabled = false
	fsr_framegen_version = 0
	fsr_quality = 0
	fsr_upscaling_version = 0
	fxaa_enabled = false
	gamma = 2.2
	gtao_denoiser = 1
	gtao_enabled = true
	gtao_quality = 0
	hdr_paper_white_nits = 400
	hdr_rgb_format = "R11G11B10F"
	jitter_enabled = true
	lens_flares_enabled = false
	lens_quality_color_fringe_enabled = false
	lens_quality_distortion_enabled = false
	lens_quality_enabled = false
	light_shafts_enabled = false
	local_lights_max_dynamic_shadow_distance = 50
	local_lights_max_non_shadow_casting_distance = 0
	local_lights_max_static_shadow_distance = 100
	local_lights_shadow_atlas_size = [
		512
		512
	]
	local_lights_shadow_map_filter_quality = "low"
	local_lights_shadows_enabled = true
	lod_object_multiplier = 0.7
	lod_scatter_density = 0
	motion_blur_enabled = false
	nv_framerate_cap = 90
	nv_low_latency_boost = true
	nv_low_latency_markers = true
	nv_low_latency_mode = true
	outline_enabled = false
	particles_capacity_multiplier = 1
	particles_simulation_lod = 0
	reflex_warp_enabled = false
	rough_transparency_enabled = true
	rt_checkerboard_reflections = true
	rt_light_quality = "high"
	rt_mixed_reflections = false
	rt_particle_reflections_enabled = false
	rt_reflections_enabled = false
	rt_shadow_ray_multiplier = 2
	rt_transparent_reflections_enabled = false
	rtxgi_enabled = false
	rtxgi_scale = 0.5
	sharpen_enabled = false
	sharpness = 0.5
	skin_material_enabled = false
	ssr_enabled = false
	ssr_high_quality = false
	static_sun_shadow_map_size = [
		2048
		2048
	]
	static_sun_shadows = true
	subresource_tlsf_allocator = true
	sun_flare_enabled = false
	sun_shadow_map_filter_quality = "low"
	sun_shadow_map_size = [
		4
		4
	]
	sun_shadows = false
	taa_enabled = true
	terrain_displacement_max_distance = 40
	terrain_displacement_min_distance = 30
	terrain_tesselation_max_distance = 50
	terrain_tesselation_min_distance = 5
	ui_bloom_enabled = true
	upscaling_enabled = false
	upscaling_mode = "none"
	upscaling_quality = "native"
	vertical_fov = 85
	volumetric_data_size = [
		80
		64
		96
	]
	volumetric_extrapolation_high_quality = false
	volumetric_extrapolation_volumetric_shadows = false
	volumetric_lighting_local_lights = false
	volumetric_reprojection_amount = 0.875
	volumetric_volumes_enabled = true
	world_interaction_size = [
		512
		512
	]
	world_space_motion_vectors = true
	xess_enabled = false
}
screen_mode = "fullscreen"
screen_resolution = [
	1920
	1080
]
sound_settings = {
	capture_device = "{0.0.1.00000000}.{518e8d9f-101f-4530-a6a3-bd9efbecfa23}"
	mute_in_background_enabled = true
	option_master_slider = 20
	options_music_slider = 23
	options_sfx_slider = 27
	options_voip_volume_slider_v2 = 32.5
	voice_chat = 2
}
texture_settings = {
	"content/texture_categories/character_bc" = 2
	"content/texture_categories/character_bca" = 2
	"content/texture_categories/character_bcm" = 2
	"content/texture_categories/character_hm" = 2
	"content/texture_categories/character_mask" = 2
	"content/texture_categories/character_mask2" = 2
	"content/texture_categories/character_nm" = 2
	"content/texture_categories/character_orm" = 2
	"content/texture_categories/environment_bc" = 2
	"content/texture_categories/environment_bca" = 2
	"content/texture_categories/environment_hm" = 2
	"content/texture_categories/environment_nm" = 2
	"content/texture_categories/environment_orm" = 2
	"content/texture_categories/weapon_bc" = 2
	"content/texture_categories/weapon_bca" = 2
	"content/texture_categories/weapon_hm" = 2
	"content/texture_categories/weapon_mask" = 2
	"content/texture_categories/weapon_nm" = 2
	"content/texture_categories/weapon_orm" = 2
}
threads = {
}
version = 3
vsync = false
